body{

font-family: "Cuprum", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;


}
.navbar{
background-color:#9BCF53;
position:fixed;
top:0;
z-index:1;
width:100%;
}
#footer{
background-color:#9BCF53;
text-align:center;
bottom:0;
left:0;
width:100%;
height:80px;
}
.btn_1 {
    width: 80%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    text-align:center;
    display: inline-block;
    background: #9BCF53;
    color: white;
    padding: 8px 30px;
    border-radius: 30px;
    transition: background 0.5s

}
.btn_1:hover {
  background-color: #478a1d;
  color: white;
  cursor: pointer
}
.card{
border:1px solid black;
}
.card:hover{
    transform: scale(1.05);

    box-shadow:0 0 20px #9BCF53;
    }


.login-box{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(24, 20, 20, 0.987);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}


