{% extends 'base.html'%}
{% load static%}

{% block title%}
Login
{%endblock%}


{% block content%}
<br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>

<h1 class="text-center">Login</h1>
<center>
<div class="login-box">
    <h1 class="text-center">Login</h1>
<form method="POST" style="width:300px">
    {% csrf_token %}
  <div class="mb-3">
    <label class="form-label">Username</label>
    <input type="text" class="form-control" name="username">
  <div class="mb-3">
    <label class="form-label">Password</label>
    <input type="password" class="form-control" name="password">
  </div>
      <button type="submit" class="btn_1">Submit</button>
</form>
    </div>
</center>


{% endblock%}
